/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
          general Style
   ========================================================================== */
.red
{
    color:#CF1500;
}

.bagred
{
    background-color:#CF1500;
}
.upercase
{
    text-transform: uppercase;
}
 .btn 
 {
    border: none;
    height: 25px;
    background-color: #CF1500;
    font-size: 0.6em;
    color: white;
    text-transform: uppercase;
 } 
 .text-center
 {
    text-align: center;
 }

 


/* ==========================================================================
                     Mobile  styles
   ========================================================================== */

                        /*Header Style for mobile*/



.header, .language_button, .entete, .accueiltext, .acti-Actua, .footer, .mainsection, .informations 
{
    display: flex;

}
.header
{
    justify-content: space-between;
}
.header .logo
{
    width: 30%;
}
.header .logo img
{
    width: 100%;

}


.header h1
{
    font-size: 0.8em;
}

#nav-link
{
    display: none;
}
.language_button
{
    justify-content: center;
    width: 10%;
    height: 30px;
    align-self:top;
    margin-right: 10px;
    flex-direction: column;

}
.language_button button
{
    border: none;
    width: 50%-5px;
    font-size: 0.6em;
   color: white;

}
.button_fr
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-bottom: 10px: 
}
.button_eng
{    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px; 
    padding-top: 10px;
}

.entete
{
    flex-direction: column;
    align-items:center;
    /*border: 1px solid red;*/
}
.button-mobile
{
   
    border-color: #CF1500;
    color: black; 
    height: 30px;
    width: 80px;
    align-self: center;
    border-radius: 5px;
    background: none;

}
.button-mobile:hover
{
    color: #CF1500;
    border-color: black;
} 




                /*mainsection Style for mobile*/


.mainsection
{
   height: 250px;
   margin-bottom: 30px;


}
.rightespace
{
    flex: 2;

}
.leftespace
{
    min-width: 80px;
}
.accueiltext
{
  /*margin-left: 30px;*/
  margin-right: 20px;
  max-width: 300px;
  margin-top: 50px;
  flex-direction: column;
 
}
.accueiltext h2
{
    font-size: 0.6em;
}

.accueiltext p
{
   font-size: 0.5em;
   font-weight: bold;
  letter-spacing: 0.1em;

}
.accueiltext .savoir
{
    border-radius: 5px;
   align-self: right;
}

                         /*description section Style for mobile*/

.description , .caroussel
{
    width: 80%;
    margin:auto;
}
.acti-Actua
{
  flex-direction: column;
  border: 1px solid green;
}
.Actuality
{
    border-radius: 7px;
    background-color: #C8CBC5;
    margin-bottom: 50px;
    width: 100%;
    border: 1px solid red;
    height: 400px;
    display: flex;
    flex-direction: column;

 }
 
 .text-actu
 {
    margin-left: 20px;
 }

 

 .Actuality   img {
    width: 100%;
    height: 50%;
    position: relative;
    top: 0;
    overflow: hidden;
    /*left: 50%;*/
  }
  .links
  {
    border:  1px solid pink;
    /*align-self: end;*/
    width: 100%;
     

      
     
    
  }
  .links1
  {
    display: flex;
    /*text-align: right;*/
    justify-content: flex-end;
  }
  .links2 
  {
    display: flex;
   
    /*align-items: stretch;*/
    /*flex-basis: content;*/
    width: 100%;
    overflow: hidden;
  }
  .links2 a:nth-child(3)
  {
    flex-grow: 2;
  }


  }
  .links2 
  {
    text-align: center;
  }


  .links a
  {
    text-decoration: none;
    border: none;
    height: 20px;
   
    font-size: 0.6em;
    color: white;
    margin:0px;
    padding: 5px 5px;
    border:1px solid green;
    text-transform: uppercase;
    
   
  }
  .acti-Actua-link1
  {
    background-color: #CF1500;
  }
.acti-Actua-link2
{
    background-color: #D7675B;
}

  .links a:hover
  {
     color: black;
  }



 .text-actu
 {
    font-size: 0.8em;
 }

                                /*Informations style section*/


 .informations
 {
   margin-bottom: 50px;
   flex-direction: column;
 }
   .card
 {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
 }  
  
 .card span
 {
     align-self: center;
 }
  .card a
 {
    text-align: right;
    padding-top: 8px ;
    padding-right:  10px ;
    text-decoration: none;
    font-weight: bold;
    border-bottom-right-radius: 10px;
 }


                                    /*carroussel section*/





 
.slid
{
    width: 80%;
    height: 200px;
    margin:auto;
    padding-right: 10px;
    padding-left: 10px;
   
    position: relative;
   
}

.fig
{
    width: 70%;
    margin:auto;
    height: 100%;
   /* /*display: none;*/
    /*position: relative;*/
    transition: all 0.66s ease; 
    box-shadow: 2px 3px 1px grey;
    
}
.fig img
{
    width: 100%;
    height:100%;
    margin: auto;

}

.nosmarques
{
    text-align: center;
    /*background-color: #f2efeb;*/
}
.btn2
{
    border-radius: 8px;
}







        
                    /*footer style*/

.footer
{
  justify-content: space-around;
  font-size:0.5em;
  padding-top: 30px;
}

/* ==========================================================================
                        CSS for max 650px
   ========================================================================== */

@media (min-width: 600px)
 {
      
           .acti-Actua
        {
          flex-direction: row;
          border: 1px solid green;
          justify-content: space-between;
        }

       .Actuality
{
   
   
    width: 48%;
    
    height: 400px;
    display: flex;
    /*margin-right: 10px;*/
    flex-direction: column;
  
 }
     .informations
 {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
     
 }
 .card
 {
    max-width: 40%; 
 }




  }

/* ==========================================================================
                        CSS for max 900px
   ========================================================================== */

@media (min-width: 900px)
 {
      
     .informations
 {
    
    flex-wrap:nowrap;
     
 }
 .card
 {
    max-width: 24%; 
 }



}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
